{:highlights [{:id #uuid "65e05d4d-eb7d-4bc0-81cc-b7e3ba850e8f",
               :page 4,
               :position {:bounding {:x1 85.03125,
                                     :y1 722.46875,
                                     :x2 216.09490966796875,
                                     :y2 787.46875,
                                     :width 992.1266666666666,
                                     :height 1403.1499999999999},
                          :rects ({:x1 85.03125,
                                   :y1 722.46875,
                                   :x2 216.09490966796875,
                                   :y2 743.46875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 85.03125,
                                   :y1 744.46875,
                                   :x2 206.027587890625,
                                   :y2 765.46875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}
                                  {:x1 85.03125,
                                   :y1 766.46875,
                                   :x2 206.027587890625,
                                   :y2 787.46875,
                                   :width 992.1266666666666,
                                   :height 1403.1499999999999}),
                          :page 4},
               :content {:text "library(MASS) head(Cars93) help(Cars93)"},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
